.contactContainer{
    background-color: lavender;
    padding: 10px;
    font-family: "Courier New";

}

.bottomCopyRight{
    text-align: center;
    font-size: 12px;
}
.pexelLink{
    color: black !important;
}

.pexelLink:hover{
    color: aqua !important;
}

.githubLink{
    color: black !important;
}

.githubLink:hover{
    color: aqua !important;
}