.imageContainer{
    border-radius: 10px;
}
.imageAreaContainer{

    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}

.paragraphText{
    font-family: "Courier New";
}

.featuresHeaders{
    font-weight: bold;
}