.cursor-pointer{
    cursor: pointer;
}
.body{
    font-family: "Courier New" !important;
    margin:0 !important;
    padding: 0 !important;
}

.slider-custom{
    font-family: "Courier New";
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide{
    position: relative;
    min-width: 100%;
    height: 100% !important;
    transition: 0.5s;
    overflow: hidden;
}


.heading-center{
    color: white;
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;


}


.text-container{
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    background: rgba(0,0,0,0.8) !important;
}

.slide-item{
    min-height: 400px !important;

}


@media screen and (max-width: 670px){
    .heading-center {
        top: 25%;
    }

}

@media screen and (max-width: 218px){
    .heading-center {
        top: 20%;
    }

}

.intro-text-big{
    font-family: "Courier New";
    font-size: 25px;
}

.intro-text{
    font-family: "Courier New";
}

a{
    text-decoration: none !important;
    color: white !important;
}
a:hover{
    color: white !important;
}
